.info {
    width: 650px;
    border-radius: 30px;
    border: 10px solid seagreen;
    background-color: saddlebrown;
    padding: 5px;
    font-weight: bolder;
    color: whitesmoke
}

strong {
    color: palegreen;
}

.gameButton {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: mediumorchid;
}

.gameButton:hover{
    background-color: white;
    color: black;
    transition-duration: .4s;
}